*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #000;
  color: #fff;
  height: 100vh;
}

.columns{
  column-count: 5;
  column-rule: 1px #fff solid;
  column-gap: 20px;
  border: 1px solid #fff;
}

.columns div{
  width: 200px;
  height: 200px;
}

.columns div:first-of-type{
  background-color: #0ff;
  width: 100%;
  height: 700px;
}

.columns div:last-of-type{
  background-color: #ff0;
  height: 800px;
  width: 100%;
}

.div_span{
  display: inline-block;
  width: fit-content;
  height: auto;
  color: #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}