* {
    box-sizing: content-box;
    margin:0;
    padding:0;
}

body {
    background-color: #333;
    min-height: 100vh;
}
.box1 {
    padding: 30px;
    height: 2000px;
    width: 100%;
    background-color: dodgerblue;
    background-image: url('../images/Moro.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: auto;
    /*background-Order: color image position size repeat origin clip attachment*/
    background: dodgerblue url('../images/Moro.png') top left no-repeat fixed;
}

.box2 {
    background-color: #ff0;
    height: 2000px;
    width: 100%;
}